
<div class="container">
  <form class="postTrip" ng-submit="trip.postTrip( trip.newTrip )">
    <div>
      <input type="text" ng-model="trip.newTrip.location" placeholder="l o c a t i o n">
      <input type="text" ng-model="trip.newTrip.date" placeholder="mm / dd / yy">
      <button>Add Trip</button>
    </div>
  </form>
  <div class="row">
    <h2>Trip Plans</h2>
    <div class="plannedTrips well well-lg" ng-repeat=" t in trip.createdTripObject.createdTripArray" >
        <div class="row" "col-md-3" ng-click="trip.printClickedTrip(t.id) ">
          <h4>{{ t.location }} {{ t.date | date:'mediumDate'}}</h4>
        </div>
        <button ng-click="trip.inviteTrip( t.id )">Invite</button>
        <button ng-click="trip.deleteTrip( t.id )">Delete</button>
    </div>
    <div class="plannedTrips well well-lg" ng-repeat=" t in trip.joinedTripObject.joinedTripArray" >
        <div class="col-md-3" ng-click="trip.printClickedTrip(t.id) ">
          <h4>{{ t.location }} {{ t.date | date:'mediumDate'}}</h4>
        </div>
    </div>
    <div class="row">
      <h3>Invitations</h3>
        <div class="invitedTrips well well-xl" ng-repeat=" t in trip.invitedTripObject.invitedTripArray" >
            <div class="col-sm-3" ng-click="trip.printClickedTrip(t.id) ">
              <h4>{{ t.location }} {{ t.date | date:'mediumDate'}}</h4>
              <button class="joinButton" ng-click="trip.joinTrip(t)">Join</button>
            </div>
        </div>
    </div>
  </div>
  </div>
