.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #333333;
    color: #DDDDDD;
}
.plannedTrip{
  float: left;
  display: inline-block;

}
.logo{
  font: Comic;

}

.jumbotron {
    text-align: center;
    border-bottom: .20rem solid #e5e5e5;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #8FAAD4;

}
.plannedTrips{
  height: 150px;
  width: 200px;
  background: lightblue;
  display: inline-block;
  margin: 10px;
}
.invitedTrips{
  height: 150px;
  width: 200px;
  background: lightblue;
  display: inline-block;
  margin: 10px;
}
.packingList{
  background-color: lightblue;
  display: inline-block;
}
input{
  margin: 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 24px;
  text-decoration: none;
  font-family : 'Lucida Console', Monaco, monospace;

}
li a:hover {
  background-color: lightblue;
}


#entryForm {
    margin-top: 14px;
    margin-bottom: 14px;
}

#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}
