<div class= "col-md-12">
     <form novalidate ng-submit="invite.emailForm(invite.mailObject)">
       <label>Invite: </label>
       <input type="text" placeholder="name">
       <label>Email: </label>
       <input type="text" ng-model="invite.mailObject.toEmail"><br>
       <label>Subject: </label>
       <input type="text" ng-model="invite.mailObject.subject"><br>
       <label>Message: </label>
       <input type="text" ng-model="invite.mailObject.message"><br>
       <label>Include Packing List  </label><input id="checkbox" type="checkbox">
        <br>
       <button>Invite Mule</button>
     </form>
 </div>
