<div class= "container">
  <div class="location">
    <h2></h2>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-8 col-sm-6 col-xs-6">
      <form class="postItem" ng-submit="list.postItem( list.newItem )">
        <input type="text" ng-model="list.newItem.name" placeholder="i t e m">
        <input type="text" ng-model="list.newItem.quantity" placeholder="q u a n t i t y">
        <button>Add Item</button>
      </form>
    </div>
  </div>
<div class="row">
    <div class="col-lg-12 col-md-8 col-sm-6 col-xs-3 ">
      <div class="packingList col-lg-6 col-md-6 col-sm-4 col-xs-3" ng-repeat=" i in list.itemsObject.itemsArray">
        <div>
          <h4 >{{ i.name }} {{ i.quantity }}</h4>
        </div>
        <button type="button" class="btn btn-default btn-xs" ng-click="list.deleteItem(i)">
          X
        </button>
      </div>
    </div>
  </div>
</div>
